body{
    background-image: url('../src/1.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0%;
    font-family: monospace;
}
button{
    width: 30%;
    height: 3%;
    margin-top: 4%;
}
button:hover{
    cursor: pointer;
    background-color: black;
    color: rgb(255, 255, 255);
}

.title{
    text-align: center;
    color: white;
    font-size: 500%;
    padding: 2%;
}
.feed{
    background-color: rgb(124, 17, 17);
    margin: auto;
    text-align: center;
    width: 50%;
}
.feed p{
    font-size: 150%;
    color: white;
}
input{
    margin-left: auto;
    margin-right: auto;
}
.selector{
    padding: 3%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.selector p{
    display: block;
}
.selector input{
    display: block;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    padding: 1% 3% 1% 3%;
    border: 1px solid black;
    color: white;
}
td{
    color: white;
    text-align: center;
    border: 1px solid black;
}
