
body {
    background-color: rgb(28, 94, 116);
    padding: 40px;
    }
    
img {
    width: 100%;
    height: auto
}

    h1 {
    
        color: orange;
        text-decoration-line: underline;   
    }
    
    h2 {
        color: red;
    }